
django-cors-headers
python-dotenv
djangorestframework
djangorestframework-simplejwt

asgiref
django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
django-filter
gunicorn
requests


