Django
django-cors-headers
python-dotenv
djangorestframework
djangorestframework-simplejwt

asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv


